<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
      res.redirect('/')
  } %>

<%- messages() %>

<section id="login-signup">

    <form action="" id="login-signup-form">
        <label for="email"><span class="form-element">Email:</span></label>
        <input type="email" name="email" id="email" required>
        <div id="pswd-box">
            <label for="password"><span class="form-element">Password:</span></label>
            <span id="pswd-text">Password must be at least 12 characters, contain 1 uppercase letter, 1 number, and 1 special character</span>
            <input type="password" name="password" id="password" 
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            title="Password must be at least 12 characters, contain 1 uppercase letter, 1 number, and 1 special character."
            required>
        </div>
        <button type="submit" id="login-button">Login</button>
    </form>

    <p class="form-element">No account? <a href="/account/register">Sign-up</a></p>

</section>


    